* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
}

body, html {
	height: 100%;
	width: 100%;
}

header {
	height: 100%;
	background-color: #FE9570;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

nav {
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 80px;
	margin-top: 50px;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
}

.socialmedia {
	bottom: 0;
	position: absolute;
	display: flex;
	padding-right: 80px;
	justify-content: flex-end;
	width: 100%;
}

.content_section, .submit_section {
	text-align: center;
}

.table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 25.1%;
}

footer {
	display: flex;
	overflow: hidden;
}

.red_footer, .social_footer {
	display: flex;
}

.red_footer {
	background-color: #FE9570;
	flex-grow: 1;
	padding: 50px 0;

}

footer ul {
	/*Already applied display:flex to all uls, therefore it's not needed to specify it here again*/
	flex-wrap: wrap;
}

footer li {
	width: 50%;
 	margin-bottom: 10px;
}


nav li {
	padding: 10px 50px 10px;
}

a.logo {
	font-size: 28px;
	font-weight: bold;
	color: #fefefe;
}

div.socialmedia i {
	padding: 50px 20px;
	color: #fefefe;
	opacity: .7;
}

div.form {
	display: flex;
	justify-content: center;
}

li#apply {
	background-color: #fefefe;
}

li#apply a {
		color: #333;
		opacity: 1;
}

nav li a {
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}

div.inner h1 {
	font-size: 10rem;
	color: #fefefe;
}

div.inner p {
	font-size: 23px;
	color: #fefefe;
}

div.content_section {
	padding: 300px 0 200px 0;
}

.content_section h2 {
	font-size: 4rem;
	color: #333;
}

.content_section p {
	font-size: 1.25rem;
	margin: 50px auto 150px;
	color: #333;
	line-height: 1.75;
}

.card {
	margin: 50px 0;
}

.card i {
	font-size: 50px;
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 50px;
	border-radius: 50%;
	color: #333;
}

.card p {
	font-size: 16px;
	font-weight: 700;
	margin: 40px 0 0 0;
	color: #333;
}

.submit_section {
	background-color: #f9f9f9;
	padding: 80px 0;
}

span {
	font-size: 24px;
	font-weight: 700;
	color: #FE9570;
}

.submit_section h3 {
	font-size: 2.75rem;
	color: #333;
}

.submit_section .form {
	margin-top: 50px;
}

.submit_section input {
	padding: 20px;
	width: 700px;
	border-style: none;
	backgroung-color: #fefefe;
}

.submit_section button {
	position: relative;
	left: -10%;
	height: 45px;
	align-self: center;
	padding: 10px;
	width: 200px;
	text-transform: uppercase;
	text-align: left;
	color: #fefefe;
	background-color: #FE9570;
	border-style: none;
	font-weight: 700;
	padding-left: 50px;
}

footer a {
	color: #fefefe;
}

.social_footer {
	padding: 50px;
	padding-right: 200px;
	background-color: #333;
	flex-direction: column;
}

.social_footer i {
	padding-right: 20px;
}

.social_footer a {
	margin-bottom: 10px;
	opacity: .3;
	font-size: 13px;
}

.footer_logo {
	margin-left: 80px;
	margin-right: 200px;
}

.footer_logo p {
	margin-top: 30px;
	color: #fefefe;
	opacity: .5;
	font-size: 14px;
}

.footer_links a {
	opacity: .6;
	text-transform: uppercase;
	color: #fefefe;
	font-size: 14px;
}